@import url(https://fonts.googleapis.com/css?family=Chonburi|BioRhyme);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

html {
  font-family: sans-serif;
}

body {
  background: #00b4ff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: #F5B700;
  font-family: Chonburi, serif;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
  text-shadow: 7px 7px 0 rgba(0,0,0,0.1);
}

h2 {
  font-family: BioRhyme, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

.things {
  position: relative;
  list-style: none;
  padding-left: 0;
  max-width: 400px;
  margin: 20px auto;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
          box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.thing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.thing:last-child {
  border-bottom: none;
}


input:checked + .details {
  background:#F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

.thing .details {
  margin: 0;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.thing .name {
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
}

.actions {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  margin: -10px 0;
}

.thing:hover .actions {
  opacity: 1;
}

.actions button {
  border: 0;
  background: transparent;
  color: #999;
  font-size: 1.5rem;
}

.actions button:hover {
  color: black;
}

.actions button.remove:hover {
  color: #AD343E;
}

button.add-thing,
button.github {
  background-color: #F5B700;
  border: 0;
  border-radius: 5px;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  -webkit-box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
          box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

button.logout {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  display: block;
  margin: 0 auto 1rem;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}